<div class="container">
  <div class="navbar">
    <div class="navbar-brand">
      <h1>MEDIALTO</h1>
    </div>
    <div class="navbar-select">
      <div class="home-home">
        <p><strong>Home</strong></p>
      </div>
      <div class="home-servive">
        <p>unser Service</p>
      </div>
      <div class="home-jobs">
        <p>Jobs</p>
      </div>
      <div class="home-kontakt">
        <p>Kontakt</p>
      </div>
    </div>
  </div>
  <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/blue-velvet-sofa-living-room-1534263798.png);">
    <div class="container">
      <h1>Willkommen bei MEDIALTO</h1>
      <p>Regalplatzvernetzung</p>
      <a class="home-button" href="#">Hört sich ganz nett an</a>
    </div>
  </div>
</div>

