.navbar {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  a {
    text-decoration: none;
    color: #4a4141;
    &:hover {
      border-bottom: 2px solid #4a4141;
    }
  }
}

.navbar-select {
  display: flex;
  justify-content: space-around;
  width: 35%;
}
